/* .container */
/* {
    /* background-color:  aquamarine; */
    /* background: -webkit-linear-gradient(rgb(9, 253, 221), rgb(4, 0, 255));
} */ 

#header
{
    text-align: center;
    text-decoration-color: blueviolet;
}

body
{
    background: aquamarine;
}
/* -webkit-linear-gradient(rgb(4, 0, 255), rgb(9, 253, 221)); */